.elements__icon {
    width: 22px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    padding-top: 30px;
}

.elements__icon:hover {
    opacity: 0.5;
}
