.popup__icon {
    background: transparent;
    position: absolute;
    top: -38px;
    right: -38px;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__icon {
        top: -36px;
        right: 0;
    }
}