.popup__container-fieleds {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 83.26%;
    margin-top: 54px;
}

@media screen and (max-width: 320px) {
    .popup__container-fieleds {
        margin-top: 75px;
    }
}