.image-popup__close {
    background-image: url(../../../images/close-icon.svg);
    background-color: transparent;
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -38px;
    right: -38px;
    border: none;
}

@media screen and (max-width: 730px) {
    .image-popup__close {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .image-popup__close {
        top: -28px;
        right: 0;
    }
}