.popup__close {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 320px) {
    .popup__close {
        width: 20px;
        height: 20px;
    }
}

.popup__close:hover {
    opacity: 0.6;
}