.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding-left: 30px;
}

@media screen and (max-width: 888px) {
    .profile__info {
        row-gap: 14px;
        padding-left: 0;
    }
}