.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: "Inter", "Arial", "sans-serif";
    background-color: #000000;
    outline: 2px solid red;
}

.header {
    display: flex;
    width: 68.75%;
    min-height: 74px;
    padding-top: 45px;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


.header__logo {
    max-width: 142px;
    position: absolute;
    left: 0;
}

@media screen and (max-width: 320px) {
    .header__logo {
        left: 27px;
    }
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 68.75%;
    margin: 0 auto;
    padding-top: 40px;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
    }
}

.profile__information {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    .profile__information {
        flex-direction: column;
    }
}

.profile__edit {
    max-width: 336px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: end;
}

.profile__edit-button {
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-bottom: 6px;
    }
}

.profile__image_edit-button {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 320px) {
    .profile__image_edit-button {
        width: 7.5px;
        height: 7.5px;
    }
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        margin-top: 36px;
        width: 282px;
    }
}

.profile__image_add-button {
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 320px) {
    .profile__image_add-button {
        width: 16px;
        height: 16px;
    }
}

.profile-info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .profile-info {
        row-gap: 14px;
    }
}

.profile__avatar {
    padding-right: 30px;
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}

.profile__image {
    max-width: 120px;
    border-radius: 50%;
}


.profile__name {
    padding-top: 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        padding-top: 26px;
    }
}

.profile__description {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.elements {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    margin: 0 auto;
    padding-top: 51px;
}

@media screen and (max-width: 320px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 36px;
        width: 88.13%;
    }
}

.elements__card {
    max-width: 282px;
    min-height: 361px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.element__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 20px;
}

.element__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.element__name {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    padding-top: 25px;
}

.element__icon {
    width: 22px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    padding-top: 30px;
}

.footer {
    width: 68.75%;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .footer {
        width: 88.13%;
    }
}

.footer__copyright {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
    text-align: left;
    margin: 0;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 100%;
        min-height: 56px;
        padding-top: 28px;
        margin: 0;
    }
}